<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intentdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.intentdemo.StartModelA"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.intentdemo.StartModelB" android:launchMode="standard">
            
        </activity>
        
        <activity android:name="com.example.intentdemo.MainActivity2">
         <intent-filter>
            <action android:name="com.intent.action.MY_ACTION"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>
        
        <activity android:name="com.example.intentdemo.MainActivity3">
        <intent-filter>
            <action android:name="com.intent.action.MY_ACTION"/>
            <action android:name="com.intent.action.MY_ACTION2"/>
            <action android:name="com.intent.action.MY_ACTION3"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="com.intent.category.MY_CATEGORY"/>
        </intent-filter>
        </activity>
        
        <activity android:name="com.example.intentdemo.MainActivity4">
           <intent-filter >
               <action android:name="android.intent.action.VIEW"/>
               <category android:name="android.intent.category.DEFAULT"/>
               <data android:scheme="http" android:path="www.baidu.com" android:mimeType="text/html"/>
           </intent-filter>  
        </activity>
        </application>

</manifest>
